version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    platform: linux/amd64
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourPassword123!
    ports:
      - "1433:1433"
    networks:
      - restaurant-network

  restaurant-api:
    build:
      context: ./Api
      dockerfile: Dockerfile
    container_name: restaurant-api
    ports:
      - "5000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=RestauranteDB;User Id=sa;Password=YourPassword123!;TrustServerCertificate=True;
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - sqlserver
    networks:
      - restaurant-network

networks:
  restaurant-network:
    driver: bridge
